/* 	   _____ __  _      __            ______            __
	  / ___// /_(_)____/ /____  __   / ____/___  ____  / /____  _____
	  \__ \/ __/ / ___/ //_/ / / /  / /_  / __ \/ __ \/ __/ _ \/ ___/
	 ___/ / /_/ / /__/ ,< / /_/ /  / __/ / /_/ / /_/ / /_/  __/ /
	/____/\__/_/\___/_/|_|\__, /  /_/    \____/\____/\__/\___/_/
	                     /____/                                       */

html, body {

	height: 100%;
}

.wrapper {

	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -90px;
}

.site-footer, .push {

	height: 90px;
}


@media screen and (min-width: 1000px) {

	.wrapper {

		margin-bottom: -70px;
	}

	.site-footer, .push {

		height: 70px;
	}

}