<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<!-- Set default document to index.php -->
		<defaultDocument enabled="true">
			<files>
				<clear />
				<add value="index.php" />
			</files>
		</defaultDocument>
		<!-- MIME types -->
		<staticContent>
			<!-- <mimeMap fileExtension=".txt" mimeType="text/plain" /> -->
		</staticContent>
		<!-- Add the rewrite rules for the router -->
		<rewrite>
			<rules>
				<rule name="router">
					<match url=".*" ignoreCase="false" />
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
					</conditions>
					<action type="Rewrite" url="/sub/folder/index.php" appendQueryString="true" />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
</configuration>